input {
  border: 1px solid #333;
  margin-bottom: 15px;
  min-width: 250px;
  padding: 8px;
  display: block;
}

.button {
  transition-duration: 0.4s;
  background-color: #1a1a1a;
  border: none;
  color: #e6e6e6;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}

h2 {
  color: #1a1a1a;
  display: inline;
}

button.button:hover{
  background-color: #3a945b;
}
#cboxLoadedContent {
  display: block;
  padding: 10px;
  background: #ffff00;
}

#modalNewsletter{
  display: none;
}
#modalNewsletter label{
  display: block;
  margin-bottom: 5px;
}
#modalNewsletter input{
  display: block;
  width: 75%;
}
