<div class="container">
<div class="heroCarousel-slide slide-0 ">
    <a href="https://www.janconstantine.com/tropical/">
        <img class="heroCarousel-image-a" src="https://cdn7.bigcommerce.com/s-hd44g/product_images/theme_images/banner-1.jpg?t=1520429480" alt="" title=""/>
        <div class="heroCarousel-content-a heroCarousel-content--empty">
            <h2 class="heroCarousel-title">The Tropical Paradise Collection</h2>
            <span class="heroCarousel-action button button--primary button--large">SHOP NOW</span>
        </div>
    </a>
</div>
</div>
<section class="temporalyHeroCarousel">
    <div class="heroCarousel-slide slide-1 ">
        <a href="https://www.janconstantine.com/fiesta/">
            <img class="heroCarousel-image" src="https://cdn7.bigcommerce.com/s-hd44g/product_images/theme_images/banner-2.jpg?t=1520429480" alt="" title=""/>
            <div class="heroCarousel-content heroCarousel-content--empty">
                <h2 class="heroCarousel-title">The Fiesta Collection</h2>
                <span class="heroCarousel-action button button--primary button--large">SHOP NOW</span>
            </div>
        </a>
    </div>
    <div class="heroCarousel-slide slide-2 ">
        <a href="https://www.janconstantine.com/the-jan-constantine-frida-kahlo-cushion-cream/">
            <img class="heroCarousel-image" src="https://cdn7.bigcommerce.com/s-hd44g/product_images/theme_images/banner-3.jpg?t=1520429480" alt="" title=""/>
            <div class="heroCarousel-content heroCarousel-content--empty">
                <h2 class="heroCarousel-title">The Frida Kahlo Cushion</h2>
                <span class="heroCarousel-action button button--primary button--large">SHOP NOW</span>
            </div>
        </a>
    </div>
    <div class="heroCarousel-slide slide-3 ">
        <a href="https://www.janconstantine.com/cardigans/">
            <img class="heroCarousel-image" src="https://cdn7.bigcommerce.com/s-hd44g/product_images/theme_images/banner-5.jpg?t=1520429480" alt="" title=""/>
            <div class="heroCarousel-content heroCarousel-content--empty">
                <h2 class="heroCarousel-title">The Cashmere Cardigans</h2>
                <span class="heroCarousel-action button button--primary button--large">SHOP NOW</span>
            </div>
        </a>
    </div>
</section>
