<div class="container imageHeader">
    <img src="https://cdn7.bigcommerce.com/s-hd44g/product_images/theme_images/banner-2.jpg?t=1520429480"/>
</div>
<section class="container temporalyHeroCarousel ">
    {{#each carousel.slides}}
    <a href="{{url}}">
        <div>
        <img
                class="heroCarousel-image"
                src="{{image}}"
                alt="{{alt_text}}"
                title="{{alt_text}}"
             {{#if image_width}}
                width="{{image_width}}"
                {{/if}}
            {{#if image_height}}
            height="{{image_height}}"
            {{/if}}
            />
        {{#if heading}}
        {{> components/carousel-content show_background=true}}
        {{else}}
        {{#if text}}
        {{> components/carousel-content show_background=true}}
        {{else}}
        {{#if button_text}}
        {{> components/carousel-content show_background=false}}
        {{/if}}
        {{/if}}
        {{/if}}

        </div>
    </a>
    {{/each}}
</section>

